    .collaboration-section {
        background-color: #F7F8FC;
        width: 82%;
        height: auto;
        padding: 35px;
        position: relative;
    }
    
    .collabs {
        width: 100%;
        height: auto;
        background-color: white;
        display: flex;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        padding: 50px;
        flex-direction: column;
    }
    
    h4 {
        margin: 0;
    }
    
    .collab-info {
        display: flex;
        padding-bottom: 10px;
        padding-left: 10px;
        border-bottom: 3px solid #F2F2F2;
    }
    
    .collab {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        padding: 0 30px;
        border-bottom: 3px solid #F2F2F2;
    }
    
    .collab-img {
        width: 8%;
        height: 80px;
        border-radius: 100%;
        margin-right: 10px;
    }
    
    .collab-img img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
    }
    
    .collab-fullname,
    .collab-company-name,
    .collab-email {
        margin-top: 20px;
        font-size: 18px;
    }
    
    .collab-fullname {
        width: 25%;
        font-weight: 700;
    }
    
    .collab-email {
        width: 27%;
    }
    
    .collab-company-name {
        width: 25%;
    }
    
    .member-h4 {
        margin: 0 240px 0 20px;
    }
    
    .company-name-h4 {
        margin-left: 195px;
    }
    
    .collab-profile-link,
    .collab-message-link {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color: #E9E4F5;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 100%;
        font-size: 17px;
        margin-right: 10px;
    }
    
    .collab-profile-link i,
    .collab-message-link i {
        margin-top: 9px;
        margin-left: 9px;
        color: #363740;
    }
    
    .add-collab-s {
        width: 100%;
    }
    
    .add-collab {
        width: 100%;
        padding: 12px 0;
        background-color: #55ACEE;
        border: 1px solid #55ACEE;
        color: white;
        font-size: 20px;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }
    
    .add-collab i {
        margin-right: 10px;
    }
    /* Add new user */
    
    .add-newcollab-section {
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        top: 0;
        margin-left: -35px;
        z-index: 3;
        position: fixed;
        align-items: center;
        display: none;
    }
    
    .add-new-collab {
        width: 600px;
        height: 550px;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        margin-left: 21%;
        padding: 40px;
        border-radius: 5px;
        text-align: center;
        position: relative;
    }
    
    .add-new-collab h3 {
        text-transform: uppercase;
        margin-bottom: 50px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    
    .new-collab-name,
    .new-collab-surname,
    .new-collab-company,
    .new-collab-email {
        display: flex;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 40px;
    }
    
    .new-collab-name label,
    .new-collab-surname label,
    .new-collab-company label,
    .new-collab-email label {
        width: 30%;
        font-size: 20px;
        text-align: left;
    }
    
    .new-collab-name input,
    .new-collab-surname input,
    .new-collab-company input,
    .new-collab-email input {
        width: 70%;
        font-size: 20px;
        height: 35px;
        border-radius: 5px;
        border: 1px solid gray;
        padding: 10px;
    }
    
    .save-new-collab {
        background-color: transparent;
        border: 3px solid #55ACEE;
        color: #55ACEE;
        padding: 10px 40px;
        font-size: 20px;
        border-radius: 40px;
    }
    
    .close-page {
        font-size: 25px;
        top: 15px;
        right: 30px;
        position: absolute;
    }